.header img{
    height: 80px;
}
.header{
    text-align: center;
}
nav{
    background-color: black;
    line-height: 50px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding:11px;
}
nav a:hover{
    background-color: gray;
}